In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
class vertice:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return f'({self.x},{self.y})'

class semi_arista:
    def __init__(self, v1 ,v2):
        self.ini = v1
        self.fin = v2
    
    def __repr__(self):
        return f'{self.ini} ---> {self.fin}'

class aristas_dc:
    def __init__(self, p):
        self.v = [vertice(x[0], x[1]) for x in p]
        aux = self.v.copy()
        aux.append(aux.pop(0))
        aux = [*zip(self.v, aux)]
        self.s_a = [(semi_arista(x[0],x[1]), semi_arista(x[1],x[0])) for x in aux]
        for i in self.s_a:
            print(i)

    def lista(self):
        semi_aristas = []
        origen = []
        twin = []
        cara_inci = []
        next_a = []
        prev_a = []
        
        for i in range(len(self.s_a)-1):
            semi_aristas.append(self.s_a[i][0])
            semi_aristas.append(self.s_a[i][1])
            
            origen.append(self.s_a[i][0].ini)
            origen.append(self.s_a[i][1].ini)
            
            twin.append(self.s_a[i][1])
            twin.append(self.s_a[i][0])
            
            cara_inci.append(None)
            cara_inci.append(None)
            
            next_a.append(self.s_a[i+1][0])
            next_a.append(self.s_a[i-1][1])
            
            prev_a.append(self.s_a[i-1][0])
            prev_a.append(self.s_a[i+1][0])
            
        return pd.DataFrame.from_dict({'Semi Aristas': semi_aristas, 'Origen': origen, 'Twin': twin, 'Cara incidente': cara_inci, 'Next': next_a, 'Prev': prev_a})
         
    
    def plot(self):
        xcoord = [v.x for v in self.v]
        ycoord = [v.y for v in self.v]
        plt.scatter(xcoord,ycoord)
        xcoord.append(self.v[0].x)
        ycoord.append(self.v[0].y)
        plt.plot(xcoord,ycoord)

In [66]:
P = [(5,1), (8,3), (5,-2), (2,2), (-1,-1), (1,5)]
AP = aristas_dc(P)
#AP.plot()
df = AP.lista()
df

((5,1) ---> (8,3), (8,3) ---> (5,1))
((8,3) ---> (5,-2), (5,-2) ---> (8,3))
((5,-2) ---> (2,2), (2,2) ---> (5,-2))
((2,2) ---> (-1,-1), (-1,-1) ---> (2,2))
((-1,-1) ---> (1,5), (1,5) ---> (-1,-1))
((1,5) ---> (5,1), (5,1) ---> (1,5))

,Semi Aristas,Origen,Twin,Cara incidente,Next,Prev
0,"(5,1) ---> (8,3)","(5,1)","(8,3) ---> (5,1)",None,"(8,3) ---> (5,-2)","(1,5) ---> (5,1)"
1,"(8,3) ---> (5,1)","(8,3)","(5,1) ---> (8,3)",None,"(5,1) ---> (1,5)","(8,3) ---> (5,-2)"
2,"(8,3) ---> (5,-2)","(8,3)","(5,-2) ---> (8,3)",None,"(5,-2) ---> (2,2)","(5,1) ---> (8,3)"
3,"(5,-2) ---> (8,3)","(5,-2)","(8,3) ---> (5,-2)",None,"(8,3) ---> (5,1)","(5,-2) ---> (2,2)"
4,"(5,-2) ---> (2,2)","(5,-2)","(2,2) ---> (5,-2)",None,"(2,2) ---> (-1,-1)","(8,3) ---> (5,-2)"
5,"(2,2) ---> (5,-2)","(2,2)","(5,-2) ---> (2,2)",None,"(5,-2) ---> (8,3)","(2,2) ---> (-1,-1)"
6,"(2,2) ---> (-1,-1)","(2,2)","(-1,-1) ---> (2,2)",None,"(-1,-1) ---> (1,5)","(5,-2) ---> (2,2)"
7,"(-1,-1) ---> (2,2)","(-1,-1)","(2,2) ---> (-1,-1)",None,"(2,2) ---> (5,-2)","(-1,-1) ---> (1,5)"
8,"(-1,-1) ---> (1,5)","(-1,-1)","(1,5) ---> (-1,-1)",None,"(1,5) ---> (5,1)","(2,2) ---> (-1,-1)"
9,"(1,5) ---> (-1,-1)","(1,5)","(-1,-1) ---> (1,5)",None,"(-1,-1) ---> (2,2)","(1,5) ---> (5,1)"

!!!!!!! Utilizar nombres !!!!!!!!!!
!!!!!!! Considerar meter datos como atributos !!!!!!!!!!!!!